:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --grayish-200: hsl(217, 19%, 35%);
  --blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --grayish-blue: hsl(210, 46%, 95%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
picture {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
  color: var(--moderate-violet);
}
a:hover {
  text-decoration: underline;
}

body {
  background-color: var(--grayish-blue);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  font-weight: 500;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  display: grid;
  grid-gap: 25px;
  width: 80%;
  margin: 2rem auto;
}
.cards {
  padding: 2rem;
  color: var(--White);
  border-radius: 10px;
  box-shadow: 2.5rem 3.75rem 3rem -3rem (var(--blackish-blue) / 0.25);
}
.card-1 {
  background-color: var(--moderate-violet);
  background-image: url(./images/bg-pattern-quotation.svg);

  background-repeat: no-repeat;
  background-position: top right 10%;
}
.profile-details {
  display: flex;
  align-items: center;
}
.image1 {
  border-radius: 50%;
  width: 28px;
}
.image1:hover {
  border: 2px solid var(--moderate-violet);
  cursor: pointer;
  transition: 0.5ms ease-in;
}
.position {
  padding-top: 5px;
  font-weight: 300;
  font-size: 11px;
  color: var(--light-gray);
}
.profile-name {
  margin-left: 10px;
}
.testimony-section {
  margin-top: 10px;
  font-weight: 600;
}
.test-1 {
  font-size: 19px;
  line-height: 25px;
}
blockquote {
  padding-top: 20px;
  color: var(--light-gray);
  line-height: 20px;
}
.card-2 {
  background-color: var(--grayish-200);
}
.card-3,
.card-5 {
  background-color: var(--White);
  color: var(--blackish-blue);
}
.card-4 {
  background-color: var(--blackish-blue);
}
.attribution {
  margin-top: 0.6rem;
  font-size: 15px;
  justify-self: center;
}

/* Media Queries Desktop*/
@media (min-width: 1000px) {
  .card-1,
  .card-4 {
    grid-column: span 3;
  }

  .card-5 {
    grid-column: 1 / 5;
    grid-row: 2;
  }
  .card-3 {
    grid-row: 3;
  }
}
@media (min-width: 1200px) {
  .main {
    grid-template-columns: repeat(4, 1fr);
  }
  .card-1,
  .card-4 {
    grid-column: span 2;
  }
  .card-3 {
    grid-row: 2;
  }
  .card-5 {
    grid-column: 4;
    grid-row: 1 / 3;
  }
  .attribution {
    grid-column: 1 / -1;
  }
}
